body
{
	background-color: #0f0f0f;
}

.one
{
	font-size: 25pt;
	background-color: #1c1c1c;
	margin-top: 20px;
	border-radius: 25px;
	height: 150px;
}

.two
{	
	background-color:#1c1c1c;
	margin: 0px;
	border-radius: 25px;
	height: 400px;
}
